body {
	background-color: #F1F1F1;
}
header {
	padding-left: 137px;
	padding-top: 21px;
	position: fixed;
	z-index: 1;
	background-color: #F1F1F1;
	width: 100%;
	height: 54px;
}

.footer {
	margin: 0 auto;
	width: 1500;
	padding-top: 21px;
}

main {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
	padding-top: 21px;
}

nav {
	display: inline-block;
}

nav p {
	font-size: 11px;
	font-weight: 700;
	font-family: roboto, sans-serif;
	display: inline-block;
	margin-right: 35px;
}

.logo1 {
	vertical-align: middle;
}


.h1 {
	font-size: 24px;
	font-weight: 700;
	font-family: roboto, sans-serif;
	margin-top: 76px;
}

.banner3 {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.card {
	margin-top: 27px;
	position: relative;
	width: 362px;
	height: 186px;
}

.card p {
	position: absolute;
	display: inline-block;
	left: 41px;
	top: 32px;
	font-size: 20px;
	font-weight: 700;
	font-family: roboto, sans-serif;
	color: #FFFFFF;
}

.banner3text {
	font-size: 10px;
	font-weight: 700;
	font-family: roboto, sans-serif;
	color: #8A8787;
	position: absolute;
	top: 68px;
	left: 37px;
}

.cardbottom {
	width: 362px;
	height: 171px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #FFFFFF;
	position: relative;
}

.timelogo {
	position: absolute;
	top: 115px;
	left: 40px;
}

.texttime1 {
	font-size: 10px;
	font-weight: 700;
	font-family: roboto, sans-serif;
	color: #8A8787;
	position: absolute;
	top: 118px;
	left: 67px;
}

.borders {
	display: inline-block;
	margin-right: 153px;
}

.h2 {
	font-size: 24px;
	font-weight: 800;
	font-family: roboto, sans-serif;
	margin-top: 57px;
	margin-bottom: 30px;
}

.photo1 {
	position: relative;
	width: 792px;
	height: 451px;
	display: inline-block;
}

.photo1 p {
	position: absolute;
	display: inline-block;
	left: 278px;
	top: 203px;
	font-size: 20px;
	font-weight: 700;
	font-family: roboto, sans-serif;
	color: #FFFFFF;
}

.bridge {
	margin-bottom: 42px;
	width: 792px;
	height: 451px;
}

.forest {
	display: inline-block;
	vertical-align: top;
	margin-left: 164px;
}



.photo3 {
	width: 792px;
    height: 451px;
    margin-bottom: 36px;
}

.elephent, .city {
	display: block;
}

.elephent, .city, .photo2 {
	margin-bottom: 105px;
}

.footer {
	height: 150px;
	background-color: #243043;
}

.footer p {
	font-size: 12px;
	font-weight: 700;
	font-family: roboto, sans-serif;
	color: #818687;
}

.footer {
	padding-top: 59px;
	padding-left: 138px;
}

.firstside p {
	margin-bottom: 14px;
}

.firstside {
	display: inline-block;
	margin-right: 75px;
}


.geolablogo {
	z-index: 1;
}

.logo2 {
	display: inline-block;
	float: right;
	margin-right: 300px;
}

.borders1 {
	display: inline-block;
}

/* Autoprefixer added prefixes */

:root {
	--prefix-webkit: -webkit-;
	--prefix-moz: -moz-;
	--prefix-ms: -ms-;
	--prefix-o: -o-;
}

header {
	-webkit-padding-start: 137px;
	-moz-padding-start: 137px;
	padding-inline-start: 137px;
}

.main {
	margin-inline-start: 0;
	margin-inline-end: auto;
}

.logo1 {
	-webkit-align-self: middle;
	-ms-flex-item-align: middle;
	align-self: middle;
}

.banner3 {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.banner3text {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.card {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.card p {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cardbottom {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.timelogo {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.texttime1 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.borders {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
